.footer{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(223,224,228);
    margin: 20px;
    border-radius: 4px;
    height: 200px;
    
}

.footer_items{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 25px;
}

/* .wrapper{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
} */